.container{
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    display: flex;
    gap: 4rem;
    height: 60rem;
    margin: 10px;
    padding: 4rem;
    width: 40rem;

}

.secao{
    padding: 20px;
    text-align: center;
    border-bottom:center
}
.book {
    border-radius: 80%;
    width:20%;
    border: 8px solid pink;
    box-shadow: 0 24px 32px -16px rgba (0,0,0,0.4);
}
.aprendiz{
    font-size: 1.75rem;
    color:rgb(97, 96, 96);
}
.formacao{
    font-size: 1.75rem;
    color: rgb(0, 0, 0);
}
.experiencia{
    font-size: 1.75rem;
    color:black;
}
.anosum{
    font-size:1.75rem ;
    color:#020202
}
.anos{
    font-size: 1.75rem;
    color: rgba(0, 0, 0, 0.7);
}
.title{
    font-size: 1.75rem;
    color: rgb(0, 0, 0);
}
.titulo{
    font-size: 1.75rem;
    color:rgba(0, 0, 0, 0.7)


}
.autor{
    font-weight:bold ;
    text-align: center;

}
.email{
    font-weight:bold ;
    text-align: center;

}

.descripction{
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 2rem;
    text-align:justify;
}
.button{
    background-color: pink;
    border:0;
    border-radius: 5.rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-top: 2rem;
    padding: .75em 1.25em;
    transition: .3s;
}
.button:hover{
    cursor: pointer;
    margin-left: 0.5rem;

}